.project{
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left:10vmin;
}

.projects{
    align-items: left;
    display: flexbox;
    flex-direction: row;
    justify-content: left;
}

.projectheader{
    font-size: larger;
}

p{
    font-size:large;
}