* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    box-sizing: border-box;
    width: 100%;
  }
  
  body {
    background: #0E0F19;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
  }
  
  .buttons, .navButtons {
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    min-width: 160px;
    min-height: 70px;
    width: 81%;
    height: 14%;
    margin: 1vw;
    
  /*   padding: 2em 0em; */
  }
  
  .container, .navButtonContainer {
    
    background-color: transparent;
    min-width: 160px;
    min-height: 70px;
    width: 12vw;
    height: 3vw;
  }
  
  h1 {
    text-align: left;
    color: #444;
    letter-spacing: 0.05em;
    margin: 0 0 0.4em;
    font-size: 1em;
  }
  
  p {
    text-align: left;
    color: #444;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    margin: 0 0 2em;
  }
  
  
  .btn, .navbarBtn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 100%;
  }

  .btn:hover, .navbarBtn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #0E0F19;
    background-color: #F7CE5B;
    outline: solid  2px #0E0F19;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }
  
  /* 文字1を上に */
  .effect04:hover{
  
    background-color: #38726C;
  }
  
  /* HOVERしたら文字1を上に */
  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  
  /*文字2*/
  .effect04::before{
    content: attr(data-sm-link-text);
      color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  /* HOVERしたら文字2を上に */
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }
  