.project{
    align-items: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin-left:10vmin;
}

.projects{
    align-items: left;
    flex-wrap: wrap;
    display: flexbox;
    flex-direction: row;
    justify-content: left;
    margin:10%;
}

.sectionTitle{
    margin-top: 10vh;
    margin-bottom: 4vh;
    position: relative;
    align-items: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    font-size: x-large;
    color: #F7CE5B;
}

li {
    color: #F7CE5B;
}

li span{
    font-size: large;
    color: #F7CE5B;
}
.sectionText{
    margin-left: 5%;
    margin-right: 5%;
    align-items: left;
    display: flex;
    word-wrap: normal;
    flex-wrap: wrap;
    justify-content: left;
    font-size: large;
    color: #F7CE5B;
}