.section{
    position: relative;
    align-items: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    width:50%

}
.stdHeader{
    font-size: x-large;
    text-align: left;
    font-weight: bold;
}
.sections{
    align-items: left;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom:5%;
}
.sectionTitle{
    margin-top: 4vh;
    position: relative;
    align-items: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 2%;
    color: #F7CE5B;
}

li {
    color: #F7CE5B;
    align-items: left;
    margin-left: 2%;
    margin-bottom: 2%;
}

/* @media only screen and (max-width: 360px) { p {width: 100%;} } */
/* Laptop styles (50% width) */
@media screen and (max-width: 480px)  
{         
     .section .sectionText {
         width:100%;
     }
     .section{
        width:100%;
     }
     .sections .section .sectionText{
        width:100%;
     }
     .spotify_iframe_container{
        width:100%
     }
     .sectionImage{
        width:100%;
     }
}  

li span{
    align-items: left;
    font-size: medium;
    color: #F7CE5B;
}
.spotify_iframe_container{
    width:100%

}
.spotify_iframe{
    z-index: 999;

}
.sectionText{
    margin-top:2vh;
    margin-bottom: 5%;
    align-items: left;
    display: flex;
    word-wrap: normal;
    flex-wrap: wrap;
    justify-content: left;
    width:100%;
    color: #F7CE5B;
}

#experience, #aboutme, #projects, #skills, #resume {
    scroll-margin-top: 50px;
  }

  .game{
    width:960px;
    height:670px;
  }


  @media screen and (max-width : 906px){
   .game{
    visibility:hidden;
    }
  }