.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
  
  }
.barContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    left:0;
    flex-direction: row;
    margin:0;
    color:transparent;
    background-color: transparent;
  }
 .navbar .sticky {
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .navbar {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    height: 60px;
  }
  .navButtonContainer{
 
    margin: 0 !important;
    padding:0 !important;
  }
  .navButtons{
    justify-content: flex-start;
    width: 10vw;
    margin: 0vw !important;
  }
  
  @media screen and (max-width: 600px) {
    .barContainer, .navbar{
      flex-direction: column;
    }
    .navButtonContainer{
      justify-content: left;
      margin: 0;
      padding:0;
    }
    .navButtons{
      justify-content: left;
      margin: 0;
      padding:0;
    }
  }
  
  
  @media screen and (min-width: 1000px) {
    .barContainer, .navbar {
      justify-content: flex-start;
    }
    .navButtonContainer{
      margin: 0;
      padding:0;
    }
    .navButtons{
      width: 10vw;
      margin: 0;
      padding:0;
    }
    .navbarBtn{
      width: 10vw;
      margin:0;
      padding:0;
    }
  }