.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
  
  }

 .navbar .sticky {
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .navbar {
    display: none;
    z-index: 10;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60px;
    z-index: 16;
  }
  .navButtonContainer{
    margin: 0px;
  }

  .hamburger{
    display: none;
    z-index:11;
  }


  .navbar.show.sticky .barContainer {
    display: flex;
    background-color: transparent;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin:0;
    height: 45px;
    outline: transparent;
    color:transparent;
  }




  @media screen and (max-width: 700px) {
    .navbar.open.show.sticky{
      background-color: #F7CE5B;
    }
  
    .navbar.open.show.sticky .barContainer  {
      
      justify-content: flex-start;
      align-items: flex-start;
      left:0;
      flex-direction: column;
      margin:0;
      background-color: #F7CE5B;
      height:auto;


    }
    .navButtons{
      margin:0px;
      height: auto;
    }
    .navButtonContainer{
      margin: 0px;
    }
    .navbar{
      background-color: #F7CE5B;

      justify-content: flex-start;
      align-items: flex-start;
    }
    .hamburger{
      display: block;
      margin:10px;

    }
  }
  
  
  @media screen and (min-width: 1000px) {
    .navbar.open.show.sticky{
      background-color: transparent;
    }
    .barContainer {
      
      justify-content: flex-start;
      align-items: flex-start;
      left:0;
      flex-direction: row;
      margin:0;
      background-color: transparent;
    }
    .navbar{
      justify-content: flex-start;
      align-items: flex-start;
      height: 40px;
    }
    .navButtons{
      margin:0px;
      height: auto;
    }
    .navButtonContainer{
      margin: 0px;
    }

  }