@import '~compass-mixins/lib/compass/css3';


/* Variables */
$color-1: #F7CE5B;
$color-2: black;
$color-3: #9DC7C8;


/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

/* Layout */
* {
  @include box-sizing(border-box);
}

/* Styling */
.timeline {
  position: relative;
  max-width: 46em;
  
  &:before {
    background-color: transparent;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 80%;
  }
}

.timeline-event {
  position: relative;
  
  &:hover {
  
    .timeline-event-icon {
      @include rotate (-95deg);
      background-color: transparent;
    }
    
    .timeline-event-thumbnail {
      @include box-shadow(inset 40em 0 0 0 $color-3);
    }
  }
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 10em;
  width: 80%;
  
  h3 {
    color: $color-1;
    font-size: 1.75em;
  }
  
  h4 {
    color: $color-1;
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  
  strong {
    color: $color-1;
    font-weight: 700;
  }
  
  p:not(.timeline-event-thumbnail) {
    color: #a8a3a2;
    padding-bottom: 1.2em;
  }
}

.timeline-event-icon {
  @include transition(transform 0.2s ease-in);
  @include rotate (45deg);


  background: transparent;

  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 10em ;
  height: 10em;
}

.timeline-event-thumbnail {
  @include transition(box-shadow 0.5s ease-in 0.1s);
  color: $color-2;
  font-size: 0.75em;
  
  background-color: $color-1;
  @include box-shadow(inset 0 0 0 0em #9DC7C8);
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

@media screen and (max-width: 700px)  
{         
  .timeline-event-icon {
    width: 5em;
    height:5em;
  }
  .timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 2em;
    width: 80%;
    
    h3 {
      color: $color-1;
      font-size: 1em;
    }
    
    h4 {
      color: $color-1;
      font-size: 0.8em;
      margin-bottom: 1.2em;
    }
    
    strong {
      color: $color-1;
      font-weight: 700;
    }
    
    p:not(.timeline-event-thumbnail) {
      color: #a8a3a2;
      padding-bottom: 0.8em;
    }
  }
}  