.aboutMeContainer{
    align-items: left;
    display: flexbox;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    background-color: #0E0F19;
    width: 40vmax;
    margin-right: 20vmin;
    margin-left: 20vmin;
}
header{
    position: relative;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: xxx-large;
    color: #F7CE5B;
}
p{
    align-items: left;
    display: flex;
    word-wrap: break-word;
    width: 40vmax;
    
    padding-top: 20px;
    justify-content: left;
    font-size: large;
    color: #F7CE5B;
}