.aboutMeContainer{
    align-items: left;
    display: flexbox;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    flex-wrap: wrap;
    background-color: #0E0F19;
    width: 40vmax;
    margin-left: 10vmin;
}
header{
    position: relative;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: xxx-large;
    color: #F7CE5B;
}
p{
    align-items: left;
    display: flex;
    word-wrap: normal;
    flex-wrap: wrap;
    width: 35vmax;
    padding-top: 10vmin;
    margin-right: 25vmin;
    justify-content: left;
    font-size: large;
    color: #F7CE5B;
}