.bar {
    margin-top: 10px;
    width: 200px;
    height: 25px;
    display: flex;
    align-items: center;
    background-color: #0E0F19;
    color: #fff;
  }

.icons {
    display: flex;
    align-items: center;
  }
  
.icons > * {
    margin-right: 10px;
  }
  
.icon {
  height: 30px;
  width: 30px;
}


.icon:hover{
    animation: icon-spin 0.5s linear;
    filter:invert(41%) sepia(8%) saturate(2393%) hue-rotate(125deg) brightness(91%) contrast(85%);
  }



@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
