.bar {
    margin-top: 10px;
    width: 200px;
    height: 25px;
    display: flex;
    align-items: center;
    background-color: #0E0F19;
    color: #fff;
  }

.icons {
    z-index: 5;
    display: flex;
    align-items: center;
  }
  
.icons > * {
    margin-right: 10px;
  }
  
.icon {
  min-height: 15%;
  min-width: 15%;
  padding:5px;
}


.icon:hover{
    animation: icon-spin 1.0s;
    filter:invert(41%) sepia(28%) saturate(1000%) hue-rotate(115deg) brightness(91%) contrast(55%);
  }

@keyframes icon-spin {
 30% {transform: scale(1.5,1.5);}
 50% {transform: scale(1.5,1.5);}
}
