.background{
  width:100%;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300%;
  margin-left: -40%;
  width: 100%;
  z-index: 0;
}

.line {
  z-index: 0;
  position: absolute;
  width: 1px;
  height: 300%;
  top: 0;
  left: 100%;
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 30s 0s infinite;
          animation: drop 30s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -20%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.line:nth-child(2) {
  margin-left: -10%;
}
.line:nth-child(2)::after {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}
.line:nth-child(3) {
  margin-left: -40%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.line:nth-child(4) {
  margin-left: -30%;
}
.line:nth-child(4)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(5) {
  margin-left: 20%;
}
.line:nth-child(5)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.line:nth-child(6) {
  margin-left: 30%;
}
.line:nth-child(6)::after {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.line:nth-child(7) {
  margin-left: 0%;
}
.line:nth-child(7)::after {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.line:nth-child(8) {
  margin-left: 40%;
}
.line:nth-child(8)::after {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.line:nth-child(9) {
  margin-left: 10%;
}
.line:nth-child(9)::after {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}



.lines2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300%;
  margin-left: -40%;
  width: 100%;
  z-index: 0;
}

.line2 {
  z-index: 0;
  position: absolute;
  width: 1px;
  height: 300%;
  top: 0;
  left: 100%;
  overflow: hidden;
}
.line2::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 30s 0s infinite;
          animation: drop 30s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line2:nth-child(1) {
  margin-left: -20%;
}
.line2:nth-child(1)::after {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.line2:nth-child(2) {
  margin-left: -10%;
}
.line2:nth-child(2)::after {
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}
.line2:nth-child(3) {
  margin-left: -40%;
}
.line2:nth-child(3)::after {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.line2:nth-child(4) {
  margin-left: -30%;
}
.line2:nth-child(4)::after {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.line2:nth-child(5) {
  margin-left: 20%;
}
.line2:nth-child(5)::after {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.line2:nth-child(6) {
  margin-left: 30%;
}
.line2:nth-child(6)::after {
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}
.line2:nth-child(7) {
  margin-left: 0%;
}
.line2:nth-child(7)::after {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.line2:nth-child(8) {
  margin-left: 40%;
}
.line2:nth-child(8)::after {
  -webkit-animation-delay: 9.5s;
          animation-delay: 9.5s;
}
.line2:nth-child(9) {
  margin-left: 10%;
}
.line2:nth-child(9)::after {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.lines3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300%;
  margin-left: -40%;
  width: 100%;
  z-index: 0;
}

.line3 {
  z-index: 0;
  position: absolute;
  width: 1px;
  height: 300%;
  top: 0;
  left: 100%;
  overflow: hidden;
}
.line3::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 30s 0s infinite;
          animation: drop 30s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line3:nth-child(1) {
  margin-left: -20%;
}
.line3:nth-child(1)::after {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.line3:nth-child(2) {
  margin-left: -10%;
}
.line3:nth-child(2)::after {
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
}
.line3:nth-child(3) {
  margin-left: -40%;
}
.line3:nth-child(3)::after {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}
.line3:nth-child(4) {
  margin-left: -30%;
}
.line3:nth-child(4)::after {
  -webkit-animation-delay: 13.5s;
          animation-delay: 13.5s;
}
.line3:nth-child(5) {
  margin-left: 20%;
}
.line3:nth-child(5)::after {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}
.line3:nth-child(6) {
  margin-left: 30%;
}
.line3:nth-child(6)::after {
  -webkit-animation-delay: 14.5s;
          animation-delay: 14.5s;
}
.line3:nth-child(7) {
  margin-left: 0%;
}
.line3:nth-child(7)::after {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.line3:nth-child(8) {
  margin-left: 40%;
}
.line3:nth-child(8)::after {
  -webkit-animation-delay: 15.5s;
          animation-delay: 15.5s;
}
.line3:nth-child(9) {
  margin-left: 10%;
}
.line3:nth-child(9)::after {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.lines4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300%;
  margin-left: -40%;
  width: 100%;
  z-index: 0;
}

.line4 {
  z-index: 0;
  position: absolute;
  width: 1px;
  height: 300%;
  top: 0;
  left: 100%;
  overflow: hidden;
}
.line4::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 30s 0s infinite;
          animation: drop 30s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line4:nth-child(1) {
  margin-left: -20%;
}
.line4:nth-child(1)::after {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
.line4:nth-child(2) {
  margin-left: -10%;
}
.line4:nth-child(2)::after {
  -webkit-animation-delay: 18.5s;
          animation-delay: 18.5s;
}
.line4:nth-child(3) {
  margin-left: -40%;
}
.line4:nth-child(3)::after {
  -webkit-animation-delay: 19s;
          animation-delay: 19s;
}
.line4:nth-child(4) {
  margin-left: -30%;
}
.line4:nth-child(4)::after {
  -webkit-animation-delay: 19.5s;
          animation-delay: 19.5s;
}
.line4:nth-child(5) {
  margin-left: 20%;
}
.line4:nth-child(5)::after {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.line4:nth-child(6) {
  margin-left: 30%;
}
.line4:nth-child(6)::after {
  -webkit-animation-delay: 20.5s;
          animation-delay: 20.5s;
}
.line4:nth-child(7) {
  margin-left: 0%;
}
.line4:nth-child(7)::after {
  -webkit-animation-delay: 21s;
          animation-delay: 21s;
}
.line4:nth-child(8) {
  margin-left: 40%;
}
.line4:nth-child(8)::after {
  -webkit-animation-delay: 21.5s;
          animation-delay: 21.5s;
}
.line4:nth-child(9) {
  margin-left: 10%;
}
.line4:nth-child(9)::after {
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
}

.lines3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300%;
  margin-left: -40%;
  width: 100%;
  z-index: 0;
}

.line3 {
  z-index: 0;
  position: absolute;
  width: 1px;
  height: 300%;
  top: 0;
  left: 100%;
  overflow: hidden;
}
.line3::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 30s 0s infinite;
          animation: drop 30s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line3:nth-child(1) {
  margin-left: -20%;
}
.line3:nth-child(1)::after {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.line3:nth-child(2) {
  margin-left: -10%;
}
.line3:nth-child(2)::after {
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
}
.line3:nth-child(3) {
  margin-left: -40%;
}
.line3:nth-child(3)::after {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}
.line3:nth-child(4) {
  margin-left: -30%;
}
.line3:nth-child(4)::after {
  -webkit-animation-delay: 13.5s;
          animation-delay: 13.5s;
}
.line3:nth-child(5) {
  margin-left: 20%;
}
.line3:nth-child(5)::after {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}
.line3:nth-child(6) {
  margin-left: 30%;
}
.line3:nth-child(6)::after {
  -webkit-animation-delay: 14.5s;
          animation-delay: 14.5s;
}
.line3:nth-child(7) {
  margin-left: 0%;
}
.line3:nth-child(7)::after {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.line3:nth-child(8) {
  margin-left: 40%;
}
.line3:nth-child(8)::after {
  -webkit-animation-delay: 15.5s;
          animation-delay: 15.5s;
}
.line3:nth-child(9) {
  margin-left: 10%;
}
.line3:nth-child(9)::after {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.lines4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300%;
  margin-left: -40%;
  width: 100%;
  z-index: 0;
}

.line4 {
  z-index: 0;
  position: absolute;
  width: 1px;
  height: 300%;
  top: 0;
  left: 100%;
  overflow: hidden;
}
.line4::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 30s 0s infinite;
          animation: drop 30s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line4:nth-child(1) {
  margin-left: -20%;
}
.line4:nth-child(1)::after {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
.line4:nth-child(2) {
  margin-left: -10%;
}
.line4:nth-child(2)::after {
  -webkit-animation-delay: 18.5s;
          animation-delay: 18.5s;
}
.line4:nth-child(3) {
  margin-left: -40%;
}
.line4:nth-child(3)::after {
  -webkit-animation-delay: 19s;
          animation-delay: 19s;
}
.line4:nth-child(4) {
  margin-left: -30%;
}
.line4:nth-child(4)::after {
  -webkit-animation-delay: 19.5s;
          animation-delay: 19.5s;
}
.line4:nth-child(5) {
  margin-left: 20%;
}
.line4:nth-child(5)::after {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.line4:nth-child(6) {
  margin-left: 30%;
}
.line4:nth-child(6)::after {
  -webkit-animation-delay: 20.5s;
          animation-delay: 20.5s;
}
.line4:nth-child(7) {
  margin-left: 0%;
}
.line4:nth-child(7)::after {
  -webkit-animation-delay: 21s;
          animation-delay: 21s;
}
.line4:nth-child(8) {
  margin-left: 40%;
}
.line4:nth-child(8)::after {
  -webkit-animation-delay: 21.5s;
          animation-delay: 21.5s;
}
.line4:nth-child(9) {
  margin-left: 10%;
}
.line4:nth-child(9)::after {
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
}
.lines5 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300%;
  margin-left: -40%;
  width: 100%;
  z-index: 0;
}

.line5 {
  z-index: 0;
  position: absolute;
  width: 1px;
  height: 300%;
  top: 0;
  left: 100%;
  overflow: hidden;
}
.line5::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 30s 0s infinite;
          animation: drop 30s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line5:nth-child(1) {
  margin-left: -20%;
}
.line5:nth-child(1)::after {
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}
.line5:nth-child(2) {
  margin-left: -10%;
}
.line5:nth-child(2)::after {
  -webkit-animation-delay: 24.5s;
          animation-delay: 24.5s;
}
.line5:nth-child(3) {
  margin-left: -40%;
}
.line5:nth-child(3)::after {
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}
.line5:nth-child(4) {
  margin-left: -30%;
}
.line5:nth-child(4)::after {
  -webkit-animation-delay: 25.5s;
          animation-delay: 25.5s;
}
.line5:nth-child(5) {
  margin-left: 20%;
}
.line5:nth-child(5)::after {
  -webkit-animation-delay: 26s;
          animation-delay: 26s;
}
.line5:nth-child(6) {
  margin-left: 30%;
}
.line5:nth-child(6)::after {
  -webkit-animation-delay: 26.5s;
          animation-delay: 26.5s;
}
.line5:nth-child(7) {
  margin-left: 0%;
}
.line5:nth-child(7)::after {
  -webkit-animation-delay: 27s;
          animation-delay: 27s;
}
.line5:nth-child(8) {
  margin-left: 40%;
}
.line5:nth-child(8)::after {
  -webkit-animation-delay: 27.5s;
          animation-delay: 27.5s;
}
.line5:nth-child(9) {
  margin-left: 10%;
}
.line5:nth-child(9)::after {
  -webkit-animation-delay: 28s;
          animation-delay: 28s;
}

@-webkit-keyframes drop {
  0% {
    top: -10%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -10%;
  }
  100% {
    top: 110%;
  }
}